/* Media Queryy */

@media (max-width: 1200px) {
    body {
        padding-left: 0;
    }
    .side-bar {
        transition: 0.2s linear;
        left: -30rem;
    }

    .side-bar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    }

    .close-side-bar {
        display: block;
    }
}




@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}


@media (max-width: 768px) {
    #search-btn {
        display: inline-block;
    }

    .header .flex .search-form {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
    }

    .header .flex .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .about .row .image img {
        height: auto;
    }

    .playlist .row .col .thumb {
        height: 20rem;
    }

    .contact .row .image img{
        height: auto;
    }
}

/* Media Query End */